<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407059381786-i66j62bcidgglurjmp4ngmqmd0hoheid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407059381786-i66j62bcidgglurjmp4ngmqmd0hoheid</string>
	<key>API_KEY</key>
	<string>AIzaSyBrj5N4c0cDxHTNIYlEyxYFSEhkl_RXd74</string>
	<key>GCM_SENDER_ID</key>
	<string>407059381786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.AndreyAbakumov.JustChats</string>
	<key>PROJECT_ID</key>
	<string>justchat-deb57</string>
	<key>STORAGE_BUCKET</key>
	<string>justchat-deb57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407059381786:ios:42b02e46430a36efffdba3</string>
</dict>
</plist>